.blog {
    padding: 100px 0;
}

.blog-box-all {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.blog h5,
.blog h1 {
    text-align: center;
}

.blog-box .img {
    height: 300px;
    cursor: pointer;
}

.blog-box {
    flex: 1;
}

.about-blog {
    padding: 30px 30px 45px 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.096) 0px 8px 24px;
}

.about-blog p {
    font: 600 13px 'Nunito';
    color: #999999;
    text-transform: uppercase;
    line-height: 24px;
}

.about-blog p:last-child {
    font: 400 16px 'Nunito';
    color: #999;
    text-transform: inherit;
    line-height: 28px;
}

.about-blog h4 {
    cursor: pointer;
    font: 400 22px "Old Standard TT";
    color: #000000;
    line-height: 30px;
    margin: 20px 0;
    transition: .3s;
}

.about-blog h4:hover {
    color: #c5a880;
}

@media only screen and (max-width:1000px) {
    .blog-box {
        min-width: 304px;
    }

    .blog-box-all {
        gap: 20px;
    }
}

@media only screen and (max-width:768px) {
    .blog-box-all {
        flex-direction: column;
        min-width: 10px;
        gap: 0px;
    }
}

@media only screen and (max-width:500px) {
    .blog-box-all {
        gap: 30px;
    }

    .blog h1 {
        font-size: 2.3em;
        line-height: 38px;
    }
}

@media only screen and (max-width:425px) {
    .blog-box-all {
        margin-top: 40px;
    }

    .blog-box {
        min-width: 250px;
    }

    .blog {
        padding-top: 45px;
    }
}