.gallery{
    padding: 40px 0 15px;
    margin-inline: 15px;
    display: flex;
    gap: 15px;
}
.gallery-photo{
    position: relative;
    cursor: pointer;
    height: 250px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-photo i{
    color: rgba(255, 255, 255, 0);
    padding: 13px;
    background-color: #c5a88000;
    border-radius: 50%;
    z-index: 2;
    transition: .3s;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    transition: .3s;
}
.gallery-photo:hover i{
    color: white;
    background-color: #c5a880;
}
.gallery-photo:hover .shadow{
    background-color: rgba(0, 0, 0, 0.279);
}
@media only screen and (max-width:768px) {
    .gallery{
        flex-direction: column;
        padding-top: 0;
    }
    .gallery-photo{
        flex: inherit;
    }
}